*{
    box-sizing: border-box;
}

body{
    background-image: url("https://images.alphacoders.com/786/786783.jpg");
}

.grid-container{
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.grid-container2{
    display: grid;
    grid-template-columns: 20% auto;
    
}
.menu{
    color: rgb(224, 237, 248);
    font-family: 'Acme', sans-serif;
    background-color: rgba(173, 173, 216, 0.404);
    height: 100vh;
    font-size: 1.5em;
    color: rgb(131, 221, 221);
}

a{
    text-decoration: none;
    color: rgb(108, 235, 190);
}

.welcome{
    display: grid;
    justify-content: center;
    color: rgb(164, 212, 235);
    font-family: 'Acme', sans-serif;
    margin: 5%;
}

.titulo{
    font-size: 4em;
    height: 30%;
}

.infor{
    font-size: 2em;
}

.grid-portafolio{
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    justify-items: center;
}

#titPort{
    grid-column: span 3;
    background-color: rgba(10, 155, 155, 0.356);
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: rgb(196, 255, 249);
}

.project {
    margin: 10%;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    background-color: rgba(50, 146, 146, 0.308);
  }
  
.project:hover {
    border: 1px solid #777;
  }
  
.project img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }


  .grid-aboutme{
      display: grid;
      grid-template-columns: auto auto;
  }

  #titAboutme{
      color: rgb(196, 255, 249);
      background-color: rgba(10, 155, 155, 0.356);
      font-size: 2em;
      text-align: center;
  }

  .myinfo{
      color: rgb(164, 212, 235);
  }

  #myimg{
  }
